@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes disappear {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes shatter {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(0); }
}

.loader {
  animation: disappear 1s forwards;
}

.shatter {
  animation: shatter 1s forwards;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradientAnimation 5s ease infinite;
}